#------------------------------------------------
# © 2026 Remus Rigo
#    2026-08-16
#------------------------------------------------
# NOTE: git only treats "#" as a comment at the start of a line

# My ignored files ------------------------------
~Backup~
~ToDo~
[Ss]ync.*
*.psd

# Claude Code
.claude
# Visual Studio
.vs
# compiler binaries
[Bb]in
[Oo]bj
# Python
.mypy_cache
[Bb]uild
[Dd]ist
*.spec
# Rust
[Tt]arget
# Delphi
__history
__recovery
*.dproj.local
*.dsk
*.dsv
*.groupproj.local
*.identcache
*.tvsconfig
# Lazarus
*.lps

# backup / log / temporary
*.bak
*.log
*.tmp

# Windows
[Dd]esktop.ini
[Tt]humbs.db
